1. The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood.
2. Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
3. More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

4. If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

# For data scrapping I have used scrapy which you can see in folder named capstone_toronto

In [136]:
import pandas as pd
import numpy as np
import geocoder
import folium

In [2]:
print("Hello capstone project course")

Hello capstone project course

In [69]:
df=pd.read_csv('neigh.csv')

In [70]:
df.dropna(subset=['borough'],axis=0,inplace=True)

In [71]:
df['borough']=df.loc[:,'borough'].apply(lambda x:x[:-1])
df['neighborhood']=df.loc[:,'neighborhood'].apply(lambda x:x[:-1])
df['postal_code']=df.loc[:,'postal_code'].apply(lambda x:x[:-1])

In [73]:
df.reset_index(drop=True)

,borough,neighborhood,postal_code
0,Not assigned,Not assigned,M1A
1,Not assigned,Not assigned,M2A
2,North York,Parkwoods,M3A
3,North York,Victoria Village,M4A
4,Downtown Toronto,"Regent Park, Harbourfront",M5A
...,...,...,...
175,Not assigned,Not assigned,M5Z
176,Not assigned,Not assigned,M6Z
177,Not assigned,Not assigned,M7Z
178,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",M8Z
179,Not assigned,Not assigned,M9Z

<h4>Filtering unassigned values from scapped data</h4>

In [74]:
filter=(df['borough']!="Not assigned")

In [75]:
data=df.loc[filter]

In [77]:
data.reset_index(drop=True,inplace=True)

In [78]:
data.to_csv('final.csv',index=False)

In [139]:
data.shape

(103, 3)

# Part 2 starts here

In [115]:
geo_coord=pd.read_csv("Geospatial_Coordinates.csv",index_col=['Postal Code'])

In [116]:
geo_coord

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476
...                ...        ...
M9N          43.706876 -79.518188
M9P          43.696319 -79.532242
M9R          43.688905 -79.554724
M9V          43.739416 -79.588437
M9W          43.706748 -79.594054

[103 rows x 2 columns]

In [117]:
index=final_data.postal_code.to_list()

In [118]:
final_data['latitude']=np.zeros((103,1))
final_data['longitude']=np.zeros((103,1))
final_data.set_index('postal_code',inplace=True)

<h3>Mapping data</h3>

In [127]:
for val in index:
    lat=geo_coord.loc[val,'Latitude'].round(6)
    lon=geo_coord.loc[val,'Longitude'].round(6)
    final_data.loc[val,'latitude']=lat
    final_data.loc[val,'longitude']=lon

In [128]:
geo_coord.loc['M3A','Latitude']

43.7532586

In [129]:
final_data.head()

,borough,neighborhood,latitude,longitude
postal_code,,,,
M3A,North York,Parkwoods,43.753259,-79.329656
M4A,North York,Victoria Village,43.725882,-79.315572
M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662302,-79.389494

In [133]:
final_data.reset_index(drop=False,inplace=True)

In [134]:
final_data.to_csv('final.csv',index=False)

In [137]:
final_data.shape

(103, 5)